---
const {title,stat} = Astro.props;
const skills = {
    header: {
        name: "competences-header",
        title: "compétences"
    },
    body: {
        name: "competences-body",
        items: [
            {name:"langues", content: ["html","css","javaScript","php"]},
            {name:"libraries", content: ["github","markdown","json"]},
            {name:"frameworks", content: ["astro","vue","express","node","bootstrap"]},
            {name:"graphisme", content: ["photoshop","illustrator","gimp"]},
            {name:"data base", content: ["mongoDB","mysql"]}
        ]
    }
}

---

<ul class=`skills ${stat}`>
    <li class={skills.header.name}><h5>{skills.header.title}</h5></li>
    <li class={skills.body.name}>
        <ul class="skills-items">
            {skills.body.items.map((item) =>
            <li><h6>{item.name}</h6></li>
            <li class="skills-content">
                <ul class="content">
                    {item.content.map((i) =>
                        <li><a class="nav-link disabled" aria-disabled="true" href="#">{i}</a></li>
                     )}
                </ul>
            </li>
            )}
        </ul>
    </li>
</ul>

<style>
    .skills{
        list-style: none;
        padding: 0;
        border: 1px solid var(--colorW-20);
        border-radius: 0.3rem;
        background-color: var(--colorW-80);
    }
    h5{
        border-radius: 0.3rem 0.3rem 0 0;
        text-transform: capitalize;
        background-color: var(--colorB-40);
        padding: 0.5rem;
        color: var(--colorW-80)
    }
    .skills-items{
        list-style: none;
        padding: 0;
        text-transform: capitalize;
    }
    h6{
        padding-left: 0.5rem;
        text-transform: uppercase;
        font-weight: lighter;
        color: var(--colorB-40)
    }
    .skills-content{
        padding-bottom: 1rem;
    }
    .content{
        padding-left: 2rem;
    }
</style>